.container{
    width: 100vh;
    height: 100vh;
    background-color: aquamarine;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    justify-items: center;
}
.container> a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 50%;
    border-color: black;
    margin: 10px;
}
h1{
    text-align: center;
}