body::before {
    content: "";
    display: block;
    width: 100%;
    height: 100px; 
}
body::after {
    content: "";
    display: block;
    width: 100%;
    height: 50px; 
}
body::before {
    background-color: blue;
}

body::after {
    background-color: red;
}